<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container {
            width: 500px;
        }
        .container input {
            width: 100%;
        }
    </style>
</head>
<body>
    
    <br/>

    <center>
        <h4>Seja bem-vindo ao</h4>
        <h3>Login - Valoriza</h3>
    </center>

    <br/>

    <div class="container">
        <form action="/login" method="POST" class="form">

            <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" required>
            
            <label for="senha">Senha: </label>
            <input type="password" class="form-control" name="password" required>

            <br/>

            <center>
                <button class="btn btn-success btn-sm" type="submit">&nbsp;&nbsp;&nbsp;Logar&nbsp;&nbsp;&nbsp;</button>
            </center>

        </form>
    </div>
    

</body>
</html>